@using _6tactics.Cms.Core.Enums.Admin
@using _6tactics.Cms.Web.Helpers
@using _6tactics.Utilities.Common
@model _6tactics.Cms.Core.ViewModels.Common.ContentItemViewModel

<div class="content-image-right">
    @{var fileUrlHelper = new FileUrlHelper(Model.FileUrl);}
    @if (fileUrlHelper.IsUrlValid && CheckFileType.IsFileImage(Model.FileUrl))
    {
        <div class="image-wrapper"><img src="@Url.Action("GetFile", "Web", new { folderPath = fileUrlHelper.RouteFolderPath, filename = fileUrlHelper.Filename, extensionName = fileUrlHelper.ExtensionName})" alt="@Model.Title"></div>
    }
    <div class="element-content">
        @Html.Raw(Model.Content)
    </div>

    @if (Model.LinkOption != LinkOption.Disable && !string.IsNullOrWhiteSpace(Model.LinkTo))
    {
        <div class="read-more">
            <a href="@Model.LinkTo" target="_blank"><i class="fa fa-chevron-circle-right"></i></a>
        </div>
    }
</div>


