@using _6tactics.Cms.Core.Enums.Admin
@using _6tactics.Cms.Web.App_Logic
@model _6tactics.Cms.Core.ViewModels.Common.ContentItemViewModel

@if (ElementsVisibilityUtility.IsElementVisible(Model.ElementVisibility, User.Identity.IsAuthenticated))
{
    <div class="link-item-title">
        @if (Model.LinkOption != LinkOption.Disable && !string.IsNullOrWhiteSpace(Model.LinkTo))
        {
            <a href="@Model.LinkTo" target="_blank">@Model.Title</a>
        }
    </div>
}

