@using _6tactics.Cms.Web.App_Logic

<div class="video-popup-image-wrapper" style="text-align: center!important;">
    @if (ElementsVisibilityUtility.CurrentLanguage == "HR")
    {
        <a class="iframe-popup-item" href="http://www.youtube.com/watch?v=hoR69nrex7c">
            <img src="~/Content/Images/diglossiaVideoMaskHR.png" alt="image">
        </a>
    }
    else
    {
        <a class="iframe-popup-item" href="http://www.youtube.com/watch?v=zDJ_bprkJ7o">
            <img src="~/Content/Images/diglossiaVideoMaskEN.png" alt="image">
        </a>
    }

</div>
