@model _6tactics.Utilities.FileSystem.Interfaces.IDirectoryTree

<div id="current-location">
    <div class="gears-wrapper">
        <span class="gear"></span>
        <span class="gear"></span>
    </div>

    <p id="current-location-message">
        <span id="current-location-intro-message">Selected folder: <span id="current-location-path">/uploads</span></span>
        <b id="current-location-title">@Model.WebPath</b>
    </p>
</div>

@*<br><br>*@