@model _6tactics.AspIdentity.ViewModels.UsersHandler.UsersHandlerIndexViewModel

@{ ViewBag.Title = "Users administration / Home"; }

@Html.Partial("Admin/_AdminMenu")

<div id="current-location">
    <p id="current-location-message">
        <span id="current-location-intro-message">@ViewBag.Title</span>
    </p>
</div>

<br><br>

<div class="container">
    @Html.Partial("_DeleteContent", Model)
</div>

@Html.Partial("_PopupMessages")


