
<div id="current-location">
    <div class="gears-wrapper">
        <span class="gear"></span>
        <span class="gear"></span>
    </div>

    <p id="current-location-message">
        <span id="current-location-intro-message">introMessage</span>
        <b id="current-location-title">title</b>
        (<span id="current-location-content-type">contentType</span><span id="current-location-display-type">displayType</span>)
    </p>
</div>

